<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
 
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
 
        <!-- Page Title -->
        <title>Home | Surgical33Names</title>

        <!-- Favicons -->
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Theme Stylesheets -->
        <link href="https://raw.githubusercontent.com/HayesAJ83/FlaskTest/assets/img/css/theme.css" rel="stylesheet">

    </head>


    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="spinner">
                <div class="circles"></div>
            </div>
        </div>
        <!-- End of Preloader -->

        <!-- Header -->
        <header class="spyre-navbar navbar navbar-expand-lg bg-secondary navbar-dark fixed-top align-items-center" data-transparent data-text-color="#ffffff">
            <div class="container">
                <a class="navbar-brand mr-lg-5 mr-xl-7" href="../pages/index.html">
                    <img href=https://raw.githubusercontent.com/HayesAJ83/FlaskTest/assets/img/logo_SN.svg" class="d-none d-lg-block" alt="Spyre" width="183" />
                    <img href=https://raw.githubusercontent.com/HayesAJ83/FlaskTest/assets/img/logo_SN.svg" class="d-block d-lg-none" alt="Spyre" width="150" />
                </a>

                <span class="navbar-text flex-fill d-none d-md-inline-block text-white">
                    Contact us: <a href="#" class="pl-2 text-white">surgical33names@gmail.com</a>
                </span>

                <div class="search d-none d-lg-flex justify-content-end ml-auto mr-2">
                    <input class="form-control mr-2" type="text">
                    <i class="zmdi zmdi-search"></i>
                </div>

                <div class="menu-toggle">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="cross">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of Header -->
    </body>
</html>